body{
  background-color: #272727
  /*
  background-image: url("./img/joao-vlog-back-compressed.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
}


/* header elements */
.amber-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stamp{
  height: 14vh;
}

/* center image elements */
.main{
  height: 70vh;
  background-color: #272727;
  background-image: url("./img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  /* Center element */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main h2{
  font-family: 'Cinzel', serif;
  color: #CCCCCC;
}

/* footer elements */
.foil-footer{
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.foil-footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.foil-footer li{
  float: left;
  font-size: 5vh; 
  margin: 3vh;
  color: #7A7A7A;
} 

.foil-footer a{
  color: #7A7A7A;
}

.foil-footer a:hover{
    color: #CCCCCC;
}

